.main-section {
  margin-left: 290px;
}
.chart-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  margin-bottom: 20px;
}
.chart-title {
  font-weight: 600;
  margin-bottom: 15px;
}
.chart-box-wFull {
  width: 68%;
  margin-top: 20px;
  padding: 15px 20px 60px;
  max-width: 1300px;
  min-width: 700px;
  max-height: 350px;
  border-radius: 15px;
  background-color: white;
}
.chart-box-wHalf {
  margin: 20px 10px 0 10px;
  width: 32%;
  padding: 15px 20px 65px;
  min-width: 400px;
  max-width: 650px;
  max-height: 270px;
  border-radius: 15px;
  background-color: white;
}
